@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Whisper&display=swap&family=Archivo+Black&family=Libre+Baskerville:ital@1&display=swap');

/*****GLOBAL *****/
:root {
    --primaryPink: 255, 249, 246;
    --secondaryWhite: 255, 255, 255;
    --secondaryPink: 255, 203, 203;
    --secondaryBlue: 165, 221, 255;
    --secondaryDarkGrey: 51, 51, 51;
    --divWidth: 1000px;
    --navWidth: 1100px;
    --card-max-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

button:hover,
.picture-galery:hover {
    cursor: pointer;
}



* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(var(--secondaryDarkGrey));
    font-size: 1.2rem;
    max-width: 95vw;
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

body {
    text-align: center;
    background-color: rgb(var(--primaryPink));
}

a {
    text-decoration: none;
}

/***** END GLOBAL *****/

/******* Mobile *******/

/* hamburger button */
.hamburger {
    position: fixed;
    display: block;
    width: 45px;
    height: 80px;
    top: 1.5vh;
    right: 20px;
}

.hamburger div {
    display: block;
    background-color: rgb(var(--secondaryDarkGrey));
    width: 100%;
    height: 4px;
    margin: 6px 0;
    border-radius: 10px;
    transition: 0.4s;

}

.hamburger.is-active .line-top {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active .line-mid {
    opacity: 0;
}

.hamburger.is-active .line-bottom {
    transform: rotate(45deg) translate(-8px, -4px);
}

/* end of hamburger button */


/* nav */
.mobile-nav {
    background-color: rgb(var(--primaryPink));
    position: fixed;
    top: 0;
    left: -100%;
    width: 80vw;
    height: 100vh;
    text-align: left;
    text-transform: uppercase;
    border-right: 1px rgba(var(--secondaryDarkGrey),0.1) solid;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left:0
}

.nav-div img {
    width: 120px;
    margin-top: 5vh;
    margin-left: 38px;
    top: 5vh;
    left: 10vw;
}

ul li {
    margin-top: 25px ;
}
/* end of nav */

/* main section */

.main-section {
    position:relative ;
    width: 100vw;
    height: 110vh;
    overflow: hidden;
}

.main-section-wrap {
    position: inherit;
    width: 90%;
    height: 100%;
    margin:20px auto;
    overflow: inherit;
}

.main-picture {
    display: block;
    width: 100%;
    height: 80%;
    max-width: 500px;
    margin: calc(250px - 25vw) 0 auto auto;
    overflow: hidden;    
}

.main-picture img {
    display: inline-block;
    width: 100%;
    object-fit: contain;
    object-position: fixed;
}

.main-section-text-div {
    position: absolute;
    top: 0;
    text-align: left;
}

.main-section-text {
    margin-top: 3vh;
}

.main-section-text h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.main-section-text h3 {
    font-weight: 100;
    font-size: 20px;
}

.main-section-text button {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.7rem;
    border: 2px solid rgb(var(--secondaryDarkGrey));
    padding: 10px 5px;
}



/* end of main section */


/******** END Mobile *******/




/***** SCREENS OVER 768px WIDE *****/

@media screen and (min-width: 768px){
    .hamburger {
        position: fixed;
        display: block;
        width: 45px;
        height: 80px;
        top: 1.5vh;
        right: 20px;
    }
    
    .hamburger div {
        display: block;
        background-color: rgb(var(--secondaryDarkGrey));
        width: 100%;
        height: 4px;
        margin: 6px 0;
        border-radius: 10px;
        transition: 0.4s;
    
    }
    
    .hamburger.is-active .line-top {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .hamburger.is-active .line-mid {
        opacity: 0;
    }
    
    .hamburger.is-active .line-bottom {
        transform: rotate(45deg) translate(-8px, -4px);
    }
    
    /* end of hamburger button */
    
    
    /* nav */
    .mobile-nav {
        background-color: rgb(var(--primaryPink));
        position: fixed;
        top: 0;
        left: -100%;
        width: 80vw;
        height: 100vh;
        text-align: left;
        text-transform: uppercase;
        border-right: 1px rgba(var(--secondaryDarkGrey), 0.1) solid;
        transition: 0.4s;
    }
    
    .mobile-nav.is-active {
        left: 0
    }
    
    .nav-div img {
        width: 120px;
        margin-top: 5vh;
        margin-left: 38px;
        top: 5vh;
        left: 10vw;
    }
    
    ul li {
        margin-top: 25px;
    }
    
    /* end of nav */
    
    /* main section */
    
    .main-section {
        position: relative;
        width: 100vw;
        height: 110vh;
        overflow: hidden;
    }
    
    .main-section-wrap {
        position: inherit;
        width: 90%;
        height: 100%;
        margin: 20px auto;
        overflow: inherit;
    }
    
    .main-picture {
        display: block;
        width: 100%;
        height: 80%;
        max-width: 500px;
        margin: calc(250px - 25vw) 0 auto auto;
        overflow: hidden;
    }
    
    .main-picture img {
        display: inline-block;
        width: 100%;
        object-fit: contain;
        object-position: fixed;
    }
    
    .main-section-text-div {
        position: absolute;
        top: 0;
        text-align: left;
    }
    
    .main-section-text {
        margin-top: 3vh;
    }
    
    .main-section-text h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
    
    .main-section-text h3 {
        font-weight: 100;
        font-size: 20px;
    }
    
    .main-section-text button {
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.7rem;
        border: 2px solid rgb(var(--secondaryDarkGrey));
        padding: 10px 5px;
    }

}

/***** END OF SCREENS OVER 768px WIDE *****/






